@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

html{
    font-size: 10px;
}

body{
    background-color: #F5F5F5;
    width: auto;
    height: auto;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.block{
    min-width: 100rem;
    min-height: 66.7rem;
    background-color: white;
    position: relative;
}

.gradient_block{
    position: absolute;
    right: 0;
    width: 43.9rem;
    height: 65.7rem;
    background-image: linear-gradient(160.42deg, #517879 0%, #214159 100%);
    box-shadow: 0px 0px 10px 9px #4E7577;;
}

.block_content{
    font-size: 2.4rem;
    position: absolute;
    top: 1rem;
    left: 3rem;
    background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_content2{
    position: absolute;
    top: 10rem;
    left: 20rem;
    font-size: 2rem;
}

form{
    position: absolute;
    top: 20rem;
    left: 20rem;
}

.password_requirements{
    font-size: 1rem;
    color: #A8A8A8;
}

.gradient_block_content{
    position: absolute;
    top: 20rem;
    left: 6rem;
    font-size: 4.8rem;
    color: white;
    opacity: 0.7;
}

.gradient_block_content2{
    position: absolute;
    top: 39rem;
    left: 6rem;
    font-size: 1.6rem;
    color: white;
}