@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");


.grid_page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 76vw;
    height: 50vw;
    background-color: #FFB084;
    border-radius: 5%;
    padding: 3%;
    box-sizing: border-box;
    margin: 5%;
    gap: 3% 4%;
    font-family: 'Work Sans', sans-serif;
}

.grid_page div {
    background-color: white;
    border-radius: 7%;
}

.avatar_card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;
    box-shadow: 0.7vw 0.7vw 0px black;
    text-align: center;
}

.avatar_card_content {
    width: 18vw;
    display: flex;
    flex-direction: column;
    gap: 1.4vw;
    align-items: flex-start;
    font-size: 1vw;
    line-height: 1.4vw;
    margin-left: 10%;
    margin-top: 10%;
}

.avatar_card_content2 {
    display: flex;
    flex-direction: row;
    gap: 1.8vw;
}

p {
    margin: 0;
    padding: 0;
}

.bio_card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 0.7vw 0.7vw 0px black;
}

.bio_card_title {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 3%;
    margin-left: 5%;
}

.bio_card_content {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 2%;
    margin-left: 5%;
}

.goals_card {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    box-shadow: 0.7vw 0.7vw 0px #29A71E;
}

.goals_card_title {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 7%;
    margin-left: 10%;
    color: #29A71E;
}

.goals_card_content {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 4%;
    margin-left: 8%;
}

.frustrations_card {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 7;
    box-shadow: 0.7vw 0.7vw 0px #E13535;
}

.frustrations_card_title {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 7%;
    margin-left: 10%;
    color: #E13535;
}

.frustrations_card_content {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 3%;
}

.dream_companies_card {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 9;
    box-shadow: 0.7vw 0.7vw 0px #3675B0;
}

.dream_companies_card_title {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 7%;
    margin-left: 10%;
    color: #3675B0;
}

.dream_companies_card_content {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 10%;
    margin-left: 8%;
}

.personality_card {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 9;
    box-shadow: 0.7vw 0.7vw 0px black;
}

.personality_card_title {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-top: 7%;
    margin-left: 10%;
}

.personality_card_content {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 1.6vw;
    margin-left: -7%;
    list-style-type: none;
}

.moto_card {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 8;
    grid-row-end: 9;
    box-shadow: 0.7vw 0.7vw 0px black;
    text-align: center;
}

.moto_card_content {
    font-weight: 700;
    font-size: 1.4vw;
    line-height: 1.6vw;
    padding-top: 2%;
    box-sizing: border-box;
}