@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    min-width: 160rem;
    min-height: 77rem;
    background-color: black;
    background-size: 100%;
    display: flex;
    position: relative;
    color: white;
}

.header_img{
    position: absolute;
    top: 8rem;
    right: 10rem;
}

.header_content_top_left{
    position: absolute;
    top: 2rem;
    left: 22rem;
    font-size: 3.6rem;
    font-weight: 500;
}

.header_content_top_right{
    position: absolute;
    top: 4rem;
    right: 22rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.header_content_center{
    position: absolute;
    top: 29rem;
    left: 22rem;
    font-size: 6.4rem;
    font-weight: 600;
}

.dot{
    color: #F6AD09;
}

.header_content_center2{
    position: absolute;
    top: 50rem;
    left: 22rem;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
}

.header_btn{
    min-width: 22rem;
    height: 6rem;
    background-color: #F6AD09;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 60rem;
    left: 22rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: #332200;
}

.section1{
    margin-top: 30rem;
    min-width: 160rem;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.section1_header{
    font-size: 6.4rem;
    font-weight: 600;
    color: #111111;;
    margin-left: 22rem;
}

.cards_content{
    font-size: 3.2rem;
    font-weight: 600;
}

.cards_price{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-size: 500;
    color: #595959;
}

.section2{
    margin-top: 30rem;
    min-width: 160rem;
    min-height: 95rem;
    background-color: black;
    background-size: 100%;
    display: flex;
    position: relative;
    color: white;
}

.section2_img{
    position: absolute;
    right: 10rem;
    top: -10rem;
}

.section2_content_top{
    position: absolute;
    top: 8rem;
    left: 21rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #B2B2B2;
    text-transform: uppercase;
}

.section2_content_header{
    position: absolute;
    top: 13rem;
    left: 21rem;
    font-size: 6.4rem;
    font-weight: 600;
}

.section2_content_middle{
    position: absolute;
    top: 43rem;
    left: 21rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    color: #B2B2B2;
}

.section2_content_subheader{
    position: absolute;
    top: 60rem;
    left: 21rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #FFBB00;
    border-bottom: 0.2rem solid #FFBB00;

}

.section2_content_bottom{
    position: absolute;
    top: 70rem;
    left: 21rem;
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
}

.section2_content_bottom2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #B2B2B2;
    padding-top: 1rem;
    box-sizing: border-box;   
}

.section3_header{
    font-size: 6.4rem;
    font-weight: 600;
    color: #111111;
    margin-top: 10rem;
    margin-left: 22rem;

}

.partners{
    margin-top: 5imgrem;
    margin-left: 7rem;
    margin-bottom: 7rem;
}

.partner_card{
    margin: 1rem;
    height: 13.5rem;
    width: 35rem;
    background-color: white;
    border: 0.2rem solid #E0E0E0;
    text-align: center;
    padding-top: 5rem;
    box-sizing: border-box;
}

.partners_line{
    display: inline-flex;
}

.section4{
    background-color: #FFBB00;
    min-width: 160rem;
    height: 68rem;
    position: relative;
}

.section4_content{
    position: absolute;
    bottom: 15rem;
    left: 85rem;
    font-family: 'Merriweather', serif;
    font-size: 3.6rem;
    font-style: italic;
}

.section4_content2{
    position: absolute;
    bottom: 10rem;
    left: 85rem;
    font-weight: 400;
    font-size: 2.4rem;
}

.section5{
    background-color: #161616;
    min-width: 160rem;
    min-height: 73rem;
    position: relative;
}

.section5_header{
    font-size: 6.4rem;
    font-weight: 600;
    color: white;
    padding-top: 10rem;
    padding-left: 21rem;
    box-sizing: border-box;
}

.section5_card_left{
    width: 45.6rem;
    height: 38.1rem;
    background-color: black;
    position: absolute;
    top: 25rem;
    left: 30.1rem;
    color: white;

}

.section5_card_right{
    width: 45.6rem;
    height: 45.6rem;
    background-color: black;
    position: absolute;
    top: 20rem;
    left: 80rem;
    color: white;
}

.section5_card_left_content1{
    position: absolute;
    left: 8rem;
    top: 2rem;
    color: #9C9C9C;
    font-size: 3.6rem;
    font-weight: 600;
}

.section5_card_left_content2{
    position: absolute;
    left: 32rem;
    top: 2rem;
    font-weight: 600;
    font-size: 3.6rem;
}

.section5_card_left_content3{
    position: absolute;
    left: 38rem;
    top: 7rem;
    font-weight: 600;
    font-size: 1.2rem;
    color: #9C9C9C;
}

.section5_card_left_list{
    position: absolute;
    top: 10rem;
    left: 5rem;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.section5_card_left_btn{
    height: 5.3rem;
    width: 17.7rem;
    background-color: #2E2E2E;
    text-align: center;
    padding-top: 1.5rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 600;
    color: #CCCCCC;
    position: absolute;
    top: 27rem;
    left: 8rem;
}

.footer{
    min-width: 160rem;
    min-height: 47.4rem;
    background-color: black;
    position: relative;
}

.footer_content1{
    color: white;
    font-size: 3.6rem;
    font-weight: 500;
    position: absolute;
    top: 5.5rem;
    left: 20rem;
}

