.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
  .wrapper {
    display: flex;
    width: fit-content;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 400px;
    border: 1px solid green;
    box-sizing: border-box;
  }
  
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    border: 1px solid red;
    box-sizing: border-box;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    border: 1px solid blue;
    box-sizing: border-box;
  }