@keyframes img_show_leftside {
    from {
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes img_show_rightside {
    from {
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes img_show_central_left {
    from {
        transform: translateX(-100vh);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes img_show_central_right {
    from {
        transform: translateX(100vh);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes c1 {
    from {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

@keyframes c2 {
    from {
        top: 0;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 0;
        left: 0;
    }

    to {
        top: 0;
        left: 50%;
    }
}

@keyframes c4 {
    from {
        top: 50%;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 0;
    }

    50% {
        top: 0;
        left: 0;
    }

    75% {
        top: 0;
        left: 50%;
    }

    to {
        top: 50%;
        left: 50%;
    }
}

@keyframes c3 {
    from {
        top: 50%;
        left: 0;
    }

    25% {
        top: 0;
        left: 0;
    }

    50% {
        top: 0;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 50%;
    }

    to {
        top: 50%;
        left: 0;
    }
}