@import url(./animation.css);
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

:root {
    font-size: 10px;
}

body {
    background-color: #E5E5E5;
    margin: 0;
    position: relative;
}

.screen {
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    position: sticky;
    top: 0;
    min-height: 6.7vw;
    background-color: black;
    z-index: 2;
}

.logo {
    float: left;
    height: 6.7vw;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-right: 1vw;
}

nav a {
    color: #FFFCFC;
    text-decoration: none;
    font-style: italic;
    font-size: 1.8vw;
}

.img_box {
    display: flex;
    justify-content: space-between;
    margin-top: 3.7vw;
    margin-left: 2.2vw;
    margin-right: 2.2vw;
    align-items: center;
}

.left_two,
.right_two {
    display: flex;
    flex-direction: column;
    gap: 2.2vw;
}

.side {
    width: 19.3vw;
    height: 30.4vw;
}

.central {
    width: 24.2vw;
    height: 21.4vw;
}

.side_img_size {
    width: 19.3vw;
    height: 30.1vw;
}

/* .left_two {
    transform: translateX(-100vh);
    animation: img_show_central_left 1s linear 1 forwards;
}

.right_two {
    transform: translateX(100vh);
    animation: img_show_central_right 1s linear 1 forwards;
}

.left_one {
    transform: translateX(-100vh);
    animation: img_show_leftside 2s linear forwards;
}

.right_one {
    transform: translateX(100vh);
    animation: img_show_rightside 2s linear forwards;
} */

/* screen2 */

.services {
    display: flex;
}

.screen_two_right {
    width: 50%;
    height: 100%;
    align-self: flex-end;
}


.screen_two_left {
    width: 50%;
    height: 100vh;
    position: relative;
    overflow: visible;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 1.9vw;
    line-height: 110%;
    color: black;
}

.screen_two_left>div {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


p {
    margin: 0;
}

.screen_two_circle1 {
    top: 0;
    left: 0;
    animation: c1 10s linear infinite;
}

.screen_two_circle2 {
    top: 0;
    left: 50%;
    animation: c2 10s linear infinite;
}

.screen_two_circle3 {
    top: 50%;
    left: 0;
    animation: c3 10s linear infinite;
}

.screen_two_circle4 {
    top: 50%;
    left: 50%;
    animation: c4 10s linear infinite;
}

/* screen3 */

.screen_three_title>h1 {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
}

.screen_three_cards {
    display: flex;
    justify-content: space-between;
    margin: 2.7vw 3.6vw 1.7vw;
}

.screen_three_cards_size {
    width: 20.8vw;
    height: 35.3vw;
}

.screen_three_cards>div {
    position: relative;
}

.screen_three_cards:hover>div {
    filter: brightness(.5);
}

.screen_three_cards>div:hover {
    filter: none;
}

.screen_three_cards>div:hover>div {
    height: 8vw;
    transition: 0.3s;
}

.screen_three_cards>div .name {
    position: absolute;
    background: rgba(163, 83, 10, 0.7);
    transform: rotate(0.12deg);
    width: 100%;
    height: 0;
    bottom: 0;
    border-radius: 0 0 4rem 4rem;
    color: #FFFAFA;
    font-family: 'Volkhov', serif;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* screen4 */

.screen_four {
    padding: 0 8vw;
}

.screen_four_top {
    display: flex;
    gap: 2.6vw;
    align-items: flex-end;
}

.screen_four_subtitle {
    margin: 0 auto 0.9vw;
    width: 41.6vw;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 3.3vw;
    line-height: 4vw;
    text-align: center;
    color: #000000;
}

.screen_four_form {
    padding: 1.8vw 1.5vw 1.6vw;
    width: 48.75vw;
    height: 20.8vw;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    background: #dfdddd;
}

.screen_four_map {
    width: 32.7vw;
    height: 29.7vw;
}

input {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-size: 1.8vw;
    line-height: 2.3vw;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
}

input::placeholder {
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-size: 1.8vw;
    line-height: 2.3vw;
    color: rgba(0, 0, 0, 0.5);
}

.input__name {
    width: 19.6vw;
    height: 4.2vw;
    margin-right: 2.6vw;
}

.input__email {
    width: 23.5vw;
    height: 4.2vw;
}

.input__message {
    width: 45.7vw;
    height: 10.9vw;
}

.input__btn {
    width: 10.4vw;
    height: 4.2vw;
    border-radius: 0.7vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-size: 1.6vw;
    font-style: italic;
    text-align: center;
    margin-top: 6.25vw;
}

.contacts {
    width: 29.4vw;
    height: 9.7vw;
}

.contacts_link {
    text-decoration: none;
    color: #000000;
}

.hours {
    width: 25.3vw;
    height: 9.7vw;
}

.hours_subheader {
    margin-bottom: 1.6vw;
    font-style: normal;
    font-size: 1.8vw;
}

.social {
    width: 20.3vw;
    height: 9.7vw;
}

.social>div {
    display: flex;
    gap: 1.6vw;
}

.social_subheader {
    margin-bottom: 1.6vw;
    font-style: normal;
    font-size: 1.8vw;
}

@media (max-width:992px) {

    .img_box {
        flex-direction: column;
        gap: 3vw;
    }

    .left_one,
    .right_one {
        order: 1;
    }

    .left_two,
    .right_two {
        display: flex;
        flex-direction: row;
        gap: 2.2vw;
    }

    .central {
        width: 46.8vw;
        height: 41.3vw;
    }

    .side {
        width: 37.3vw;
        height: 58.9vw;
    }

    .side_img_size {
        width: 37.3vw;
        height: 58.8vw;
    }

    .services {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .screen_two_right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

    .screen_two_left {
        width: 100%;
        height: 100vh;
        font-size: 3.6vw;
        order: 1;
    }

    .screen_three_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5vw;
        margin: 2.7vw 3.6vw 1.7vw;
    }

    .screen_three_cards_size {
        width: 40.3vw;
        height: 68.3vw;
    }

    .screen_four {
        padding: 1%;
    }

    .screen_four_top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .screen_four_subtitle {
        margin: 0 auto 0.9vw;
        width: 80vw;
        font-size: 4.5vw;
        line-height: 7vw;
    }

    .screen_four_form {
        padding: 3.5vw 3vw 3vw;
        width: 94.4vw;
        height: 40.3vw;
    }

    .screen_four_map {
        width: 63vw;
        height: 57.5vw;
    }

    input {
        font-size: 3.5vw;
        line-height: 4.4vw;
    }

    input::placeholder {
        font-size: 3.5vw;
        line-height: 4.4vw;
    }

    .input__name {
        width: 38vw;
        height: 8vw;
        margin-right: 5vw;
    }

    .input__email {
        width: 45.4vw;
        height: 8vw;
    }

    .input__message {
        width: 89vw;
        height: 21vw;
    }

    .input__btn {
        width: 20vw;
        height: 8vw;
        border-radius: 1.3vw;
    }

}

@media (max-width:768px) {
    .img_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left_two,
    .right_two {
        display: flex;
        flex-direction: column;
        gap: 2.8vw;
    }

    .central {
        width: 60vw;
        height: 53.3vw;
    }

    .side {
        width: 48vw;
        height: 76vw;
    }

    .side_img_size {
        width: 48vw;
        height: 76vw;
    }

    .screen_two_right {
        display: none;
    }

    .screen_two_left {
        font-size: 4.7vw;
    }

    .screen_three_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin: 3.5vw 4.7vw 2.2vw; */
        align-items: center;
    }

    .screen_three_cards_size {
        width: 52.1vw;
        height: 88.3vw;
    }
}