@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 1600px;
    height: 800px;
    background-color: black;
    display: flex;
    position: relative;
    color: white;
}

.header_img {
    width: 640px;
    height: 800px;
    position: absolute;
    top: 94px;
    right: 140px;
}

.header_content_top_left {
    position: absolute;
    top: 30px;
    left: 220px;
    font-size: 36px;
    font-weight: 500;
}

.header_content_top_right {
    position: absolute;
    top: 30px;
    right: 227px;
    font-size: 16px;
    font-weight: 500;
}

.header_content_center {
    position: absolute;
    top: 291px;
    left: 220px;
    font-size: 64px;
    font-weight: 600;
}

.dot {
    color: #F6AD09;
}

.header_content_center2 {
    position: absolute;
    top: 500px;
    left: 220px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #B2B2B2;
}

.header_btn {
    min-width: 22rem;
    height: 6rem;
    background-color: #F6AD09;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 60rem;
    left: 22rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: #332200;
}

.section1 {
    margin-top: 300px;
    width: 1600px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.section1_header {
    font-size: 64px;
    font-weight: 600;
    color: #111111;
    ;
    margin-left: 220px;
}

.cards_content {
    font-size: 32px;
    font-weight: 600;
}

.cards_content::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 10px;
    background-color: #F6AD09;
    margin-right: 3%;
}

.cards_price {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-size: 500;
    color: #595959;
}

.section2 {
    margin-top: 300px;
    width: 1600px;
    height: 950px;
    background-color: black;
    background-size: 100%;
    display: flex;
    position: relative;
    color: white;
}

.section2_img {
    position: absolute;
    width: 700px;
    height: 1120px;
    right: 100px;
    top: -100px;
}

.section2_content_top {
    position: absolute;
    top: 80px;
    left: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #B2B2B2;
    text-transform: uppercase;
}

.section2_content_header {
    position: absolute;
    top: 130px;
    left: 210px;
    font-size: 64px;
    font-weight: 600;
}

.section2_content_middle {
    position: absolute;
    top: 430px;
    left: 210px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #B2B2B2;
}

.section2_content_subheader {
    position: absolute;
    top: 600px;
    left: 210px;
    font-size: 24px;
    font-weight: 600;
    color: #FFBB00;
    border-bottom: 2px solid #FFBB00;

}

.section2_content_bottom {
    position: flex;
    margin-top: 700px;
    margin-left: 210px;
    display: flex;
    font-size: 24px;
}

.section2_content_bottom_size {
    width: 300px;
    height: 96px;
}

.section2_content_bottom2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B2B2B2;
    padding-top: 10px;
    box-sizing: border-box;
}

.sidetext_line::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 10px;
    background-color: #F6AD09;
    margin-right: 3%;
}

.sidetext_line2::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 5px;
    background-color: #F6AD09;
    margin-right: 3%;
}

.section3_header {
    font-size: 64px;
    font-weight: 600;
    color: #111111;
    margin-top: 100px;
    margin-left: 220px;
}

.partners {
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 70px;
}

.partner_card {
    margin: 10px;
    height: 135px;
    width: 350px;
    background-color: white;
    border: 2px solid #E0E0E0;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}

.partners_line {
    display: inline-flex;
}

.section4 {
    background-color: #FFBB00;
    width: 1600px;
    height: 680px;
    position: relative;
}

.section4_content {
    position: absolute;
    bottom: 150px;
    left: 850px;
    font-family: 'Merriweather', serif;
    font-size: 36px;
    font-style: italic;
}

.section4_content::before {
    content: url('quotation_mark1');
    position:absolute;
    top:0px;
    left:-25px;
    z-index: 1;
}

/* Чому не відображається картинка (лапки намагалась додати)? */

.section4_content2 {
    position: absolute;
    bottom: 100px;
    left: 850px;
    font-weight: 400;
    font-size: 24px;
}

.section5 {
    background-color: #161616;
    width: 1600px;
    height: 730px;
    position: relative;
}

.section5_header {
    font-size: 64px;
    font-weight: 600;
    color: white;
    padding-top: 100px;
    padding-left: 210px;
    box-sizing: border-box;
}

.section5_card_left {
    width: 456px;
    height: 381px;
    background-color: black;
    position: absolute;
    top: 250px;
    left: 301px;
    color: white;
}

.section5_card_left:hover {
    width: 456px;
    height: 456px;
    top: 200px;
    left: 301px;
}

.section5_card_right {
    width: 456px;
    height: 381px;
    background-color: black;
    position: absolute;
    top: 250px;
    left: 800px;
    color: white;
}

.section5_card_right:hover {
    width: 456px;
    height: 456px;
    top: 200px;
}

.section5_card_left_content1 {
    position: absolute;
    left: 80px;
    top: 20px;
    color: #9C9C9C;
    font-size: 36px;
    font-weight: 600;
}

.section5_card_left_content1:hover {
    color: #F6AD09;
}

.section5_card_left_content2 {
    position: absolute;
    left: 320px;
    top: 20px;
    font-weight: 600;
    font-size: 36px;
}

.section5_card_left_content3 {
    position: absolute;
    left: 380px;
    top: 70px;
    font-weight: 600;
    font-size: 12px;
    color: #9C9C9C;
}

.section5_card_left_list {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 440px;
    height: 350px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

.section5_card_left_btn {
    height: 53px;
    width: 177px;
    background-color: #2E2E2E;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #CCCCCC;
    position: absolute;
    top: 270px;
    left: 80px;
}

.footer {
    width: 1600px;
    height: 474px;
    background-color: black;
}

.footer_content {
    width: 1600px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20%;
    padding-top: 5%;
    box-sizing: border-box;
    color: white;
    font-size: 36px;
    font-weight: 500;
}

.footer_link {
    text-decoration: none;
    color: #B2B2B2;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.footer_content2 {
    color: #B2B2B2;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin-top: 5%;
}

.soc_icons {
    display: flex;
    gap: 10%;
    margin-top: 10%;
}

.footer_content3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #B2B2B2;
    margin-top: 10%;
}

.footer_content3 >div:hover {
    color: #FFBB00;
}

.footer_rights {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #9C9C9C;
    padding-left: 5%;
    box-sizing: border-box;
}